@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
:root {
  --primary-col: #fff;
  --sec-col: #7f8489; }

* {
  box-sizing: border-box;
  font-family: Lato; }

body {
  /*    height: 99vh; */
  /*    padding: 100px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202326; }

.mobile {
  width: 340px;
  height: 700px;
  background: #353a40;
  border-radius: 50px;
  background: #202326;
  box-shadow: 18px 18px 31px #1c1e21, -18px -18px 31px #24282b;
  overflow-y: scroll;
  position: relative;
  text-align: center;
  padding: 10px 24px;
  border: 10px solid #202326; }

.iphone-header {
  background: #1c1c1c;
  box-shadow: 18px 18px 31px #1c1e21, -18px -18px 31px #24282b;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 24px;
  left: 50%;
  margin-left: -82px;
  position: absolute;
  top: 0px;
  width: 164px;
  z-index: 9999; }

.iphone-left {
  background: #202326;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 18px 18px 31px #1c1e21, -18px -18px 31px #24282b;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  right: 0px;
  z-index: 9998;
  height: calc(100%);
  padding: 0px 20px; }

.iphone-bottom {
  background: #202326;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 18px 18px 31px #1c1e21, -18px -18px 31px #24282b;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  bottom: 0px;
  z-index: 9999;
  width: calc(100%);
  padding: 20px 30px; }

.sub_div {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px; }

.neu-icon {
  border-radius: 50%;
  background: #202326;
  box-shadow: 8px 8px 12px #1b1e20, -8px -8px 12px #25282c;
  border: 2px solid rgba(0, 0, 0, 0.07);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.neu-icon:active {
  box-shadow: 8px 8px 12px #1b1e20 inset, -8px -8px 12px #25282c inset; }

.power-btn:active {
  box-shadow: 8px 8px 12px #1b1e20 inset, -8px -8px 12px #25282c inset; }

.neut-icon {
  margin: 10px 10px;
  border-radius: 8px;
  padding: 0px 12px;
  font-size: 10px;
  background: #202326;
  box-shadow: 4px 4px 6px #1b1e20, -4px -4px 6px #25282c;
  border: 2px solid rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: center; }

.light-text-shadow {
  text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25); }

.top-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.head-with-title {
  color: var(--primary-col); }

#truck {
  /*   position: relative; */
  /*   left: 0; */
  width: 100%;
  margin: 36px auto 0px auto; }

.mid-mar {
  margin: 2px 0; }

.borders {
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(173, 171, 171, 0.149); }

.left-profile {
  display: flex;
  flex-direction: row;
  align-items: center; }

.right-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

p {
  font-size: 12px; }

.pure-white {
  color: #fff; }

.way-off-white {
  color: var(--sec-col); }

.left-mar {
  margin-left: 16px;
  margin-top: 6px; }

.mid-info {
  color: #fff;
  text-align: left;
  max-height: 306.55px; }

.mid-inside {
  margin: 0 -20px;
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: row;
  overflow-y: scroll;
  max-height: 250px;
  padding-top: 20px; }

.mid-inside::-webkit-scrollbar {
  display: none; }

.x-scroll {
  margin: 0 -24px;
  overflow-x: scroll;
  left: 0;
  padding: 0 27px; }

.auto-grid {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column; }

.full-card {
  display: flex;
  flex-direction: column;
  align-items: center; }

.full-card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px; }

.card-1 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.card-2 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover2.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

::-webkit-scrollbar {
  display: none; }

.card-3 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/book-cover1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.card-4 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.card-5 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.card-6 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover4.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.card-7 {
  width: 100px;
  height: 150px;
  box-shadow: 12px 12px 20px #171a1c, -12px -12px 20px #292c30;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-image: url("../img/bookcover1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  transition: 0.3s;
  z-index: 9998; }

.padding-add {
  margin: 2px 7px; }

.tab-card {
  margin: 15px 0;
  margin-right: 15px;
  /*   border: 2px solid rgba(255, 255, 255,0.0003); */
  border-radius: 8px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s;
  z-index: 9998; }

.card:active {
  width: 150px;
  height: 200px; }

.add-margin {
  transform: translateY(-20px); }

.card:active {
  width: 150px;
  height: 200px; }

.toggle-card-on-info {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center; }

.inverted-info {
  opacity: 0;
  transform: translate(-12px, -20px);
  display: flex;
  flex-direction: row;
  box-shadow: inset 12px 12px 20px #171a1c, inset -12px -12px 20px #292c30;
  border-radius: 8px;
  z-index: 9997;
  transition: 0.3 all ease; }

.actual-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  padding-right: 10px; }

.book-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px; }

.c1 {
  bottom: -70px;
  right: -50px;
  z-index: 1; }

.c2 {
  left: -40px;
  top: 20px;
  z-index: 0; }

.card h5,
.card p {
  z-index: 2;
  position: relative; }

footer div {
  text-align: left; }

.trophies-icon {
  height: 16px;
  filter: grayscale(100%); }

footer button {
  border-radius: 50%;
  background: linear-gradient(120.66deg, #005ea3 14.75%, #11a8fd 84.81%);
  border: 2px solid #058dd9;
  display: flex;
  justify-content: center;
  align-items: center; }

.right-profile button {
  border-radius: 50%;
  background: linear-gradient(120.66deg, #005ea3 14.75%, #11a8fd 84.81%);
  border: 2px solid #058dd9;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

button:focus {
  outline: none;
  box-shadow: inset 8px 8px 12px #1b1e20, -8px -8px 12px #25282c; }

.power-btn:focus {
  /*   background: linear-gradient(320.66deg, #005EA3 14.75%, #11A8FD 84.81%); */
  box-shadow: inset 8px 8px 12px rgba(0, 0, 0, 0.25) -8px -8px 12px rgba(255, 255, 255, 0.5); }

@media (min-height: 800px) {
  body {
    height: 100vh; } }

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: 20px; }

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin: 20px; }

.top-level-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.added-features {
  border-radius: 50%;
  background: #202326;
  border: 2px solid #1c1f22;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 18px 18px 31px #1c1e21, -18px -18px 31px #24282b; }

.top-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.top-dialogue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.chevron-style {
  margin-left: 6px;
  margin-bottom: 2px;
  color: #7f8489; }

:root {
  --secound: 0; }

.color-button {
  border-radius: 5px;
  border: 1px solid #292c30;
  box-shadow: 3px 3px 7px #171a1c, -3px -3px 7px #292c30;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3ms; }

.way-off-white:active {
  color: #fff; }

.add-paddings {
  padding: 2px 5px; }

.inset-reading {
  box-shadow: inset 3px 3px 7px #171a1c, inset -3px -3px 7px #292c30;
  color: #00d0b0;
  font-size: 10px;
  text-shadow: 0px 0px 7px #37ffb1; }

.progress-bar {
  top: calc(50% - 7.5px);
  width: 80%;
  height: 2px;
  pointer-events: none;
  background-color: #fff;
  border-radius: 100px;
  overflow: hidden; }
  .progress-bar::after, .progress-bar::before {
    content: "";
    position: absolute;
    height: 0.25%;
    width: var(--main);
    transition: width 0.3s cubic-bezier(0, 0.15, 0.31, 1.4);
    will-change: width;
    background-color: #fff;
    background-color: #00d0b0;
    opacity: 0.5;
    box-shadow: 0px 0px 2px #37ffb1;
    width: 50%; }

.friends-online {
  color: #fff;
  box-shadow: 3px 3px 7px #171a1c, -3px -3px 7px #292c30;
  border-radius: 8px;
  background: linear-gradient(120.66deg, #005ea3 14.75%, #11a8fd 84.81%);
  border: 2px solid #058dd9;
  height: 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }

.bigger-circle {
  transform: translateX(18px);
  background-color: #202326;
  border-radius: 50%;
  padding: 10px;
  box-shadow: inset 12px 12px 20px #171a1c, inset -12px -12px 20px #292c30; }

.arrow-next {
  color: #fff;
  padding: 5px;
  box-shadow: 3px 3px 7px #171a1c, -3px -3px 7px #292c30;
  border-radius: 50%;
  background: linear-gradient(120.66deg, #005ea3 14.75%, #11a8fd 84.81%);
  border: 2px solid #058dd9;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center; }

.neumorph_square-button {
  height: 25px;
  width: 25px;
  border-radius: 8px;
  display: grid;
  grid-area: square_button;
  align-items: center;
  justify-items: center;
  box-shadow: inset 12px 12px 20px #171a1c, inset -12px -12px 20px #292c30;
  box-shadow: inset 3px 3px 7px #171a1c, inset -3px -3px 7px #292c30; }

.neumorph_square-button:active {
  box-shadow: inset 12px 12px 20px #171a1c, inset -12px -12px 20px #292c30; }

.scrollable {
  overflow-x: scroll;
  margin: 0 -24px; }

.neumorph_circle-button {
  transform: translate(-7px, 13px);
  z-index: 9999;
  height: 6px;
  width: 6px;
  border-radius: 60px;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 7px #37ffb1; }

hr {
  grid-area: square_button;
  height: 90px;
  margin-top: -1px;
  width: 1px;
  border: none;
  background: rgba(173, 171, 171, 0.149);
  margin-right: 17px; }

.pads2 {
  margin: 20px 0px; }

.lower-size {
  font-size: 10px !important; }

.pads {
  margin: 10px 0px; }

.las-arrow-right {
  color: #fff; }

.first {
  padding-top: 30px; }

.active {
  box-shadow: inset 3px 3px 7px #171a1c, inset -3px -3px 7px #292c30;
  color: #00d0b0;
  text-shadow: 0px 0px 7px #37ffb1; }

.active1 {
  text-shadow: 0px 0px 5px turquoise; }

.subtext {
  display: flex;
  flex-direction: column; }

.trophies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

:root {
  --star-size: 10px;
  --star-color: #fff;
  --star-background: #fc0; }

.raised-highlight {
  border-radius: 2px; }

.image--cover {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: fill;
  object-position: center;
  filter: grayscale(100%); }

.profile-icon {
  text-align: center; }

.left-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; }

.Stars {
  margin: 5px 0;
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1; }
  .Stars::before {
    margin: 5px 0;
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.trophies-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px; }

.online {
  box-shadow: inset 3px 3px 7px #171a1c, inset -3px -3px 7px #292c30;
  color: #00d0b0;
  text-shadow: 0px 0px 7px #37ffb1; }

.review-box {
  display: flex;
  flex-direction: row;
  margin: 7px 0; }

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  align-items: flex-start; }

.ratings {
  margin-right: 10px; }

.notify-light {
  background-color: #00d0b0; }

.above {
  z-index: 9999; }
